
<body>
    <div class="container">
        <h1 class="title">Purchase Details</h1>
        {{#with data.purchase}}
            <!-- Відображення інформації про покупця -->
            <div class="customer-info">
                <p class="customer-info__item"><span class="customer-info__label">Customer Name:</span> {{firstname}} {{lastname}}</p>
                <p class="customer-info__item"><span class="customer-info__label">Phone:</span> {{phone}}</p>
                <p class="customer-info__item"><span class="customer-info__label">Email:</span> {{email}}</p>
                {{#if comment}}
                    <p class="customer-info__item"><span class="customer-info__label">Comment:</span> {{comment}}</p>
                {{/if}}
            </div>

            <!-- Відображення інформації про замовлення -->
            <div class="order-info">
                <p class="order-info__item"><span class="order-info__label">Product Price:</span> ${{product.price}}</p>
                <p class="order-info__item"><span class="order-info__label">Total Price:</span> ${{totalPrice}}</p>
            </div>
        {{/with}}

        <a href="/purchase-list" class="return-link">Повернутися до списку замовлень</a>
    </div>
</body>








